# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''
DISCORD_REDIRECT_URI='http://localhost:3000/login/discord/callback'
AUTH_REDIRECT_PROXY_URL='http://localhost:3000/login/discord/callback'

CLOUDFLARE_ACCOUNT_ID='091d616e4c63e948b32e03c833fb68f8'
CLOUDFLARE_D1_TOKEN='EKc4MaLktFMrx-J4QGDSDz-uRBuj2Y1Wl1g7Qijn'
CLOUDFLARE_DATABASE_ID='ba606b1e-4eba-40ee-90b0-03bef6e21d84'